page-home {

.trash {
    background: linear-gradient(48deg, rgba(70, 150, 204, 0.8) 0%, rgba(70, 150, 204, 0.8) 28%, rgba(0, 168, 168, 0.98) 93%, rgba(0, 168, 168, 1) 100%) !important;

}

.helpButton {
    color: antiquewhite;
    border: 1px solid antiquewhite;
}
}
